# This is a CODEOWNERS file for GitHub
# It designates code owners who are required to review and approve pull requests

# Global rule - @Lock128 and @RaphaelManke are code owners for the entire repository
* @Lock128 @RaphaelManke